.note {

    animation: grow 1s forwards;
    width: 30px; height: 30px;
}


@keyframes grow {
    0% {
      transform: rotate(20deg) translateY(0%);
    }
    90% {
      transform: rotate(0deg) translateY(-110%);
    }
    100% {
      transform: rotate(0deg) translateY(-100%); /* scale(0) - scale(1) for growth */
    }
}

.note:nth-child(2) {
    animation-delay: 0.2s;
}
.note:nth-child(3) {
    animation-delay: 0.4s;
}
.note:nth-child(4) {
    animation-delay: 0.6s;
}

.round-button {
	display:flex;
  align-items: center;
  justify-content: center;
	border-radius: 50%;
	/* background-color: rgba(239, 239, 239, 0.5); */
  /* box-sizing: border-box; */
  /* line-height: 20px; */
	/* border: 3px solid #ef973e; */
  z-index: 2;
  cursor: pointer;
}
.round-button:hover {
	background-color: rgba(199, 199, 199, 0.8);
	box-shadow: 0px 0px 10px #DAE0F9;
}

.round-button-disabled {
	display:flex;
  align-items: center;
  justify-content: center;
	border-radius: 50%;
  background-color: rgba(227, 227, 227, 0.8);
  text-decoration: line-through;
	/* background-color: rgba(239, 239, 239, 0.5); */
  /* box-sizing: border-box; */
  /* line-height: 20px; */
	/* border: 3px solid #ef973e; */
  /* z-index: 2; */
}

.play {
  width: 70%;
  height: 70%;
  position:relative;
  left: 2%;
  cursor: pointer;
}

.play-disabled {
  width: 70%;
  height: 70%;
  position:relative;
  left: 2%;
}

.strikethrough{
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  top: 50%;
  background-color: rgb(104, 103, 103);
  transform: rotate(-45deg);
}


/* audio {
  width: 150px
} */
/* audio::-webkit-media-controls-panel {
    background-color: #FDCF85;
  } */

/* audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
  background-color: green;
} */

/* audio::-webkit-media-controls-timeline-container{
  display: none
} */

/* audio::-webkit-media-controls-current-time-display{
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-timeline {
  display: none;
}

audio::-webkit-media-controls-volume-slider-container{
  display: none
} */


/* audio::-webkit-media-controls-volume-slider{
  display: none
}

audio::-webkit-media-controls-seek-back-button

audio::-webkit-media-controls-seek-forward-button

audio::-webkit-media-controls-fullscreen-button

audio::-webkit-media-controls-rewind-button

audio::-webkit-media-controls-return-to-realtime-button

audio::-webkit-media-controls-toggle-closed-captions-button */